
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	color: #E8E8E8;
}

.full {
  background: url(../img/muffin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.answer{
  font-size: 1000%;
}