<section class="author{% if site.disqus == false %} no-disqus{% endif %}">
    <div class="toleft">
        <img
            class="selfie"
            src="{% if site.authors[page.author].external-image == true %}{{ site.authors[page.author].picture }}{% else %}{{ site.url }}/{{ site.authors[page.author].picture }}{% endif %}"
            alt="{{ site.authors[page.author].name }}"
        />
        {% if site.mylinks %}
        <a
            class="follow-link"
            href="{{ site.mylinks }}"
            target="_blank"
            rel="noopener"
        >
            <i class="fa-solid fa-user-plus"></i>
            <span>Follow Me</span>
        </a>
        {% endif %}
    </div>

    <div class="toright">
        <h4 class="name"><a href="{{ site.mylinks | default: site.url }}" target="_blank" rel="noopener" style="text-decoration:none;color:inherit;">{{ site.authors[page.author].name }}</a></h4>
        <p class="bio">{{ site.authors[page.author].bio }}</p>

        <div class="share">
            <a
                class="xtwitter"
                href="https://x.com/intent/post?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.authors[page.author].twitter }}"
                target="_blank"
                rel="noopener"
            >
                <i class="fa-brands fa-x-twitter"></i>
                <span>Post</span>
            </a>

            <a
                class="linkedin"
                href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}&amp;summary={{ page.description }}&amp;source={{ site.url }}"
                target="_blank"
                rel="noopener"
            >
                <i class="fa-brands fa-linkedin"></i>
                <span>Share</span>
            </a>

            <a
                class="bluesky"
                href="https://bsky.app/intent/compose?text={{ page.title }}+{{ site.url }}{{ page.url }}"
                target="_blank"
                rel="noopener"
            >
                <i class="fa-brands fa-bluesky"></i>
                <span>Post</span>
            </a>
        </div>
    </div>
</section>
