{%- comment -%}
Credential badges (Java Champion, GDE, Docker Captain, Oracle ACE).
Optional param: class – extra class(es) added to the wrapper.
{%- endcomment -%}
<div class="hero__creds {{ include.class }}">
  <span class="hero__cred"><img class="hero__cred__logo" src="{{ '/assets/images/badges/java-champion.svg' | relative_url }}" alt="" width="24" height="24" loading="lazy"> Java Champion</span>
  <span class="hero__cred"><img class="hero__cred__logo" src="{{ '/assets/images/badges/gde.svg' | relative_url }}" alt="" width="24" height="24" loading="lazy"> Google Dev Expert</span>
  <span class="hero__cred"><i class="fa-brands fa-docker"></i> Docker Captain</span>
  <span class="hero__cred"><img class="hero__cred__logo" src="{{ '/assets/images/badges/oracle-ace.svg' | relative_url }}" alt="" width="24" height="24" loading="lazy"> Oracle ACE Pro</span>
</div>
