<footer class="footer-main">
    {{ site.title }} © {{ site.time | date: '%Y' }}

    <a class="link" href="{{ '/feed.xml' | relative_url }}" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a>

    {% if site.analytics-posthog %}
    <span class="extra">
        | <a class="link" href="javascript:void(0)" onclick="window.__phShowConsent()" title="Change analytics consent">Cookie Settings</a>
    </span>
    {% endif %}

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
</footer>
