<!-- begin search -->
<search class="search" data-pagefind-ignore>
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="search__box">
          <div class="search__group">
            {% include icon.html name="xmark" class="search__close" %}
            <label for="js-search-input" class="screen-reader-text">Search</label>
            <input type="text" id="js-search-input" class="search__text" autocomplete="off"
              placeholder="Type to search...">
          </div>
          <p class="search__hint">Use <kbd>&uarr;</kbd> <kbd>&darr;</kbd> to navigate, <kbd>&crarr;</kbd> to open, <kbd>Esc</kbd> to close.</p>
          <div class="search-results-list view-list" id="js-results-container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="search__overlay"></div>
</search>
<!-- end search -->
