.share
    float: right
    width: 40%
    display: inline
    text-align: right
    position: relative

    .share-cta
        display: block
        font-size: 12px
        font-weight: 300
        color: #aaa
        margin-bottom: 6px

    @media #{$mobile}
        width: 100%
        display: block
        top: 0
        text-align: left
        float: none
        margin-top: 5px

    @media #{$tablet}
        width: 100%
        display: block
        top: 0
        text-align: left
        float: none
        margin-top: 5px

    > .xtwitter,
    > .linkedin,
    > .bluesky
        display: inline
        vertical-align: middle
        font-size: 12px
        font-weight: 700
        color: #fff
        padding: 5px 8px
        border-radius: 3px
        margin-left: 4px
        text-decoration: none

        @media #{$mobile}
            margin: 0 4px 10px 0

        @media #{$tablet}
            margin: 0 4px 10px 0

    > .xtwitter
        background: #000

    > .linkedin
        background: #0077b5

    > .bluesky
        background: #0085ff

.follow-link
    display: block
    font-size: 11px
    font-weight: 700
    color: #fff
    padding: 4px 6px
    border-radius: 3px
    text-decoration: none
    background: #6c3baa
    margin-top: 6px
    text-align: center

    svg
        fill: $omega
        position: relative
        top: 0
        margin: 0
        margin-right: 4px
        display: inherit
