---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col col-8 col-w-10 col-d-12 push-2 push-w-1 push-d-0">
      <div class="page-hero post-hero">
        <div class="page-hero__inner">
          <h1 class="page-hero__title">{{ page.title }}</h1>
          {% if page.tag %}
          <div class="article__tags post-hero__tags">
            {% for tag in page.tag %}
            <a href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}" class="article__tag">{{ tag | upcase }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        {% include post-social.html %}

      </div>

      {% if page.image and page.show_image != false %}
      <div class="page-head">
        <div class="page-image">
          <img src="{% if page.image.path %}{{ page.image.path | relative_url }}{% else %}{{ page.image | relative_url }}{% endif %}" fetchpriority="high" alt="{{ page.title }}" width="1200" height="675">
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <article class="post">
    <div class="post__content">
      {% if site.toc.enabled != false %}{% unless page.toc == false %}{% include toc.html html=content %}{% endunless %}{% endif %}
      {{ content }}
    </div>
  </article>

  <div class="row">
    <div class="col col-8 col-w-10 col-d-12 push-2 push-w-1 push-d-0">
      {% include post-social.html %}
    </div>
  </div>

  {% if site.show-related %}
  <div class="row">
    <div class="col col-8 col-w-10 col-d-12 push-2 push-w-1 push-d-0">
      {% include related.html %}
    </div>
  </div>
  {% endif %}
</div>
