---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="page__head">
        <h1 class="page__title">#{{ page.tag }}</h1>
        <p class="page__description">
          <a href="{{ '/tag/' | relative_url }}{{ page.slug }}/feed.xml" title="RSS feed for tag: {{ page.tag }}">
            {% include icon.html name="rss" %} RSS feed for this tag
          </a>
          &nbsp;·&nbsp;
          <a href="{{ '/tags/' | relative_url }}">All tags</a>
        </p>
      </div>

      <div class="row grid">
        {% for post in page.posts %}
        {% if post.title != null %}
        <div class="article article--flexible col col-12 grid__post tag-entry">
          <div class="article__inner">
            <div class="article__content">
              <div class="article__info">
                <time class="article__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b, %Y" }}</time>
              </div>
              <h2 class="article__title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </h2>
              {% if post.description %}
              <p class="article__excerpt">{{ post.description }}</p>
              {% else %}
              <p class="article__excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
