$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif !default
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace !default

$alpha: #242424 !default
$beta: #222 !default
$gama: #5a5a5a !default
$delta: #4b0082 !default
$epsilon: #ededed !default
$omega: #fff !default
$zeta: #000 !default
$kappa: #27f36a26 !default

$thin-font: 300 !default

$mobile: "only screen and (max-width: 400px)" !default
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)" !default
$above: "only screen and (min-width: 780px)" !default
$below: "only screen and (max-width: 780px)" !default
